<!--The content below is only a placeholder and can be replaced.-->
<div class="uk-container" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
      </h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>

  <p (click)="showAlert()">UIKit Alert</p>

  <div class="uk-container">

    <h3>Select files</h3>

    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="well my-drop-zone">
      Drop your file here
    </div>

    Or choose a file
    <input type="file" ng2FileSelect [uploader]="uploader"/>

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="uk-table">
      <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        <td *ngIf="uploader.isHTML5">
          <progress class="uk-progress" value="{{ item.progress }}" max="{{ item?.file?.size/1024/1024 | number }}"></progress>
        </td>
        <td class="text-center">
          <span *ngIf="item.isSuccess" uk-icon="icon: check"></span>
          <span *ngIf="item.isCancel" uk-icon="icon: close"></span>
          <span *ngIf="item.isError" uk-icon="icon: ban"></span>
        </td>
        <td nowrap>
          <button class="uk-button uk-button-default"
                  (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload
          </button>
          <button class="uk-button uk-button-danger"
                  (click)="item.cancel()" [disabled]="!item.isUploading">Cancel
          </button>
          <button class="uk-button uk-button-secondary"
                  (click)="item.remove()">Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

<router-outlet></router-outlet>
