<!--The content below is only a placeholder and can be replaced.-->
<div class="uk-container" style="text-align:center">
  <p class="uk-text-lead uk-text-left">
    Welcome to {{ title }}!
  </p>

  <div *ngIf="!uploader?.queue?.length" class="uk-container">

    <p class="uk-text-left  uk-text-bold">Select files</p>

    <div class="uk-grid uk-child-width-1-2">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        Drop your file here
      </div>

      <div>
        <p class="uk-text-left">Or choose a file</p>
        <input class="uk-align-left" type="file" ng2FileSelect [uploader]="uploader"/>
      </div>
    </div>
  </div>

  <div *ngIf="uploader?.queue?.length" class="uk-container uk-grid-with-1-4">

    <table class="uk-table">
      <thead>
      <tr>
        <th class="uk-text-left">Name</th>
        <th class="uk-text-left">Size</th>
        <th class="uk-text-left" width="50%">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td class="uk-text-left"><strong>{{ item?.file?.name }}</strong></td>
        <td class="uk-text-left" nowrap>{{ item?.file?.size/1024 | number:'.2' }} KB</td>
        <td class="uk-align-left" nowrap>
          <!--allow to upload or remove-->
          <button class="uk-button uk-button-primary"
                  (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload
          </button>
          <button class="uk-button uk-button-default"
                  (click)="item.remove()">Remove
          </button>
          <button *ngIf="item.isUploading" class="uk-button uk-button-secondary"
                  (click)="item.cancel()" [disabled]="!item.isUploading">Cancel
          </button>
          <progress *ngIf="item.isUploading" class="uk-progress" value="{{ item.progress }}"
                    max="{{ item?.file?.size/1024/1024 | number }}"></progress>
          <span *ngIf="item.isError" class="uk-text-warning">Error uploading file</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <br/><br/><br/><br/>
  <button class="uk-button uk-align-right" (click)="showAlert()">UIKit Alert</button>

</div>

<router-outlet></router-outlet>
